body{
   background-color: black;
}

.principal {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px 450px 150px;
    grid-template-areas: "cabecalho cabecalho" 
                         "secao barra-lateral" 
                         "rodape rodape";
   
}

header {
    grid-area: cabecalho;
    background-color: #194c78;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2px;
    color: white;
    text-decoration: none;    

 }

 .item {
   color: white;
   text-decoration: none;
   font-size: 18px;
 }
 
 section {
     grid-area: secao;
     display: flex;
     justify-content: center;
     align-items: center;
  }
 
  aside {
     grid-area: barra-lateral;
     background-color: #E0D475;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 2px;
  }
 
  footer {
    margin-top: 2px;
    grid-area: rodape;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin-bottom: 0;
 }
 .p1, .p2, .p3, .p4 {
    width: 25%;
    background-color: #194c78;
    text-align: center;
    color: white;
 }

 .p2 {
    width: 50%;
    margin: 0 2px;
 }

 .p3 {
    margin: 0;
 }
 .p4 {

    margin: 0 2px

 }

