  section {
      margin-top: auto;
      grid-area: secao;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aquamarine;
      flex-direction: column;
   }
  
   aside {
      margin-top: 2px;
      grid-area: barra-lateral;
      background-color: #E0D475;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 2px;
   }