section {
   grid-area: secao;
   display: flex;
   justify-content: justify;
   align-items: center;
   flex-direction: column;
}

aside {
   grid-area: barra-lateral;
   background-color: #E0D475;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 2px;
}